:root {
  --calculadora-color: #86181dec;
}

* {
  box-sizing: border-box;

  color: #fff;
}

body {
  margin: 0;

  background-image: linear-gradient(
    to left bottom,
    #1d232c,
    #121f24,
    #0c1b1b,
    #09160f,
    #0a0e00
  );

  overflow-x: hidden;
}

.container {
  display: flex;
  /*centramos el contenido*/
  justify-content: center;
  align-items: center;

  height: 100vh;
}

.calculator {
  display: grid;
  /*4 columnas con 75px de largo*/
  grid-template-columns: repeat(4, 75px);
  /*la primera columna con 160px de alto las demás con 75px de alto*/
  grid-template-rows: 160px repeat(5, 75px);

  padding: 25px;
  border-radius: 15px;

  background-color: var(--calculadora-color);

  box-shadow: 15px 10px 0px 5px #00000033;
}

button {
  margin: 5px;
  padding: 0;

  border-radius: 32px;
  border: none;
  box-shadow: 5px 5px 10px -3px #00000033, -5px -5px 15px 3px #0000000a;

  background-color: var(--calculadora-color);
  font-size: 1.5em;

  cursor: pointer;
}

button:hover {
  background-color: #911b21ec;
}

/*cambia de color al clicarse*/
button:active {
  background-color: #661317ec;
}

/*quita la linea al tener focus*/
button:focus {
  outline: none;
}

.col-2 {
  grid-column: span 2;
}

.display {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  grid-column: 1/-1;
  text-align: right;

  margin: 5px 5px 15px;
  padding: 16px;
  border-radius: 36px;

  background-color: #363636;
  box-shadow: 0px 0px 0px 7px #0000001c;

  /*especificamos cómo debe romperse los caracteres dentro del elemento si no hay espacio
  de manera que se ajuste dentro del contenedor*/
  word-break: break-all;
}

#valor-actual {
  font-size: 1.5em;
}

#valor-anterior {
  font-size: 2em;
}

@media (max-width: 400px) {
  .calculator {
    grid-template-columns: repeat(4, 55px);
    grid-template-rows: 130px repeat(5, 55px);
  }

  #valor-actual {
    font-size: 1em;
  }

  #valor-anterior {
    font-size: 1.5em;
  }
}
